@import "tailwindcss";
@plugin "daisyui" {
  themes:
    corporate --default,
    dark,
    cupcake;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-hilit: color-mix(in oklab, var(--color-base-content) 5%, transparent);
}

/* a.active {
  background-color: color-mix(
    in oklab,
    var(--color-base-content) 5%,
    transparent
  );
} */

@layer {
  a.active {
    @apply bg-hilit;
  }
}
